In [10]:
#import necessary python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize

In [4]:
kaggle_data = pd.read_csv('sample_submission_v2.csv/sample_submission_v2.csv')

In [5]:
kaggle_data.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [6]:
kaggle_data.tail()

      image_name                                  tags
61186  file_9995  primary clear agriculture road water
61187  file_9996  primary clear agriculture road water
61188  file_9997  primary clear agriculture road water
61189  file_9998  primary clear agriculture road water
61190  file_9999  primary clear agriculture road water

In [7]:
kaggle_data.shape

(61191, 2)

In [8]:
kaggle_data.describe()

       image_name                                  tags
count       61191                                 61191
unique      61191                                     1
top        test_0  primary clear agriculture road water
freq            1                                 61191

In [9]:
kaggle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61191 entries, 0 to 61190
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_name  61191 non-null  object
 1   tags        61191 non-null  object
dtypes: object(2)
memory usage: 956.2+ KB

In [11]:
data = kaggle_data.to_numpy()

print(kaggle_data.DESCR)

In [15]:
kaggle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61191 entries, 0 to 61190
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_name  61191 non-null  object
 1   tags        61191 non-null  object
dtypes: object(2)
memory usage: 956.2+ KB